body {
  background: rgb(101, 69, 147);
}
.calculator {
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 23.5rem;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
}
#calculator__output {
  background: hsl(255, 100%, 100%);
  font-size: 4.2rem;
  padding-block-start: 1rem;
  padding-block-end: 1.5rem;
  padding-inline-end: 1.25rem;
  text-align: end;
}
.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background: hsl(255, 100%, 100%);
  padding: 0.5rem;
}
.calculator__key {
  background: hsl(210, 25%, 95%);
  border: none;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1.25rem;
  padding-inline-start: 1.25rem;
  font-size: 1.5rem;
  /* Playful Styles */
  inline-size: 70px;
  block-size: 70px;
  margin: 0.25rem;
  border-radius: 40px;
}
.calculator__key:active,
.calculator__key:focus {
  box-shadow: 0 0 8px 0 rgb(95, 145, 175) inset;
  outline: none;
}
.calculator__key--operator {
  background: hsl(207, 100%, 50%);
}
.calculator__key--operator:active {
  background: hsl(207, 95%, 47%);
}
.calculator__key2--enter {
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
  background: hsl(0, 74%, 62%);
  height: auto;
}
#calculator__output {
  background: rgb(33, 31, 34); /* Change the background to a dark gray */
}
.calculator__keys {
  background: rgb(33, 31, 34); /* Change the background to a dark gray */
}
.calculator__key {
  background: rgb(107, 114, 142); /* Change the keys to a darker gray */
  color: rgb(255, 255, 255); /* Change the text color to white */
}
#calculator__output2 {
  background: rgb(33, 31, 34);
  font-size: 1.4rem;
  padding-block-start: 3rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 1.25rem;
  text-align: end;
}
#calculator__output2 {
  background: rgb(33, 31, 34); /* Change the background to a dark gray */
}
.calculator__key:hover{
  background-color: rgb(101, 69, 147);
}
.calculator__key--operator{
  background-color: rgb(101, 69, 147);
}
.calculator__key2{
  background: rgb(223, 154, 63);
  border-radius: 60px;
  border: none;
  inline-size: 70px;
  margin: 0.25rem;
  font-size: 1.5rem;
  color: white;
}
.calculator__key2:active{
  background: hsl(207, 95%, 47%);
}
.calculator__key2:focus {
  box-shadow: 0 0 8px 0 rgb(95, 145, 175) inset;
  outline: none;
}

























.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background: hsl(255, 100%, 100%);
  padding: 0.5rem;
}
.calculator__key_operator {
  background: hsl(210, 25%, 95%);
  border: none;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1.25rem;
  padding-inline-start: 1.25rem;
  font-size: 1.5rem;
  /* Playful Styles */
  inline-size: 70px;
  block-size: 70px;
  margin: 0.25rem;
  border-radius: 40px;
}
.calculator__key_operator:active,
.calculator__key_operator:focus {
  box-shadow: 0 0 8px 0 rgb(95, 145, 175) inset;
  outline: none;
}
.calculator__key--operator {
  background: hsl(207, 100%, 50%);
}
.calculator__key--operator:active {
  background: hsl(207, 95%, 47%);
}
.calculator__key--enter {
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
  background: hsl(0, 74%, 62%);
  height: auto;
}
#calculator__output {
  background: rgb(33, 31, 34); /* Change the background to a dark gray */
}
.calculator__keys {
  background: rgb(33, 31, 34); /* Change the background to a dark gray */
}
.calculator__key_operator {
  background: rgb(107, 114, 142); /* Change the keys to a darker gray */
  color: rgb(255, 255, 255); /* Change the text color to white */
}
#calculator__output2 {
  background: rgb(33, 31, 34);
  font-size: 1.4rem;
  padding-block-start: 3rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 1.25rem;
  text-align: end;
}
#calculator__output2 {
  background: rgb(33, 31, 34); /* Change the background to a dark gray */
}
.calculator__key_operator:hover{
  background-color: rgb(101, 69, 147);
}
.calculator__key--operator{
  background-color: rgb(101, 69, 147);
}



